((* macro findings_table(target, version) -*))
  \begin{longtable}{ r l l }
    \toprule
    ID & Vulnerability description & Risk \\
    \midrule
    \endhead
    ((* for finding_group in target.findings.groups -*))
      ((( loop.index ))) & %
        \hyperref[((( target.uname + "_" + finding_group.uname )))]{((( finding_group.name |tex )))} & %
        ((( finding_group.risk | capitalize | tex ))) \\
    ((* endfor -*))
    \bottomrule
  \end{longtable}
((*- endmacro *))
