+++
name = "From scratch"
risk = "info"
keywords = []
+++


{% extends "_base.md" %}


{% block description -%}

{%- endblock description %}


{% block likelihood -%}

{%- endblock likelihood %}


{% block impact -%}

{%- endblock impact %}


{% block recommendation -%}

{%- endblock recommendation %}


{% block reference -%}

{%- endblock reference %}
