((* from "macros.tex.j2" import findings_table *))

\chapter{((( target.data.name )))}
\label{((( target.uname )))}


The ((( target.data.name ))) is ((( lipsum(1, False) ))).

\section{Assignment}

The penetration test focused on the following areas: ((( lipsum(1, False) )))

((* include target.uname + "/scope.tex.j2" *))

((* include target.uname + "/scenario.tex.j2" *))

((* include target.uname + "/approach.tex.j2" *))

\section{Findings}

((*- if target.findings.risks.sum_open > 0 *))
  During the penetration test of the ((( target.data.name ))) target, we discovered ((( target.findings.risks.sum_open ))) ((* if target.findings.risks.sum_open > 1 -*)) vulnerabilities ((*- else -*)) vulnerability ((*- endif *)).

  \begin{center}
    \includegraphics[width=\textwidth]{((( project_path.as_posix() )))/.build/((( target.uname )))/risks.png}
  \end{center}

  The table below gives an overview of the vulnerabilities and the risk classification.

  ((( findings_table(target, config) )))

  You may find the technical description of the discovered vulnerabilities and mitigation recommendation in the following sections.

  ((* for finding_group in target.findings.groups -*))
    \clearpage
    ((* include target.uname + "_" + finding_group.uname + ".tex.j2" *))
  ((* endfor -*))
((* else *))
  During the penetration test of the ((( target.data.name ))) target, we were not able to locate any vulnerability within the scope of the assessment.
((* endif -*))
