\subsection{Scope}

The vulnerabilities discovered by the seceurity researcher were found at the following target:

\begin{longtable}{ r l }
  \toprule
  Name of the target & ((( target.name ))) \\
  \bottomrule
\end{longtable}
