\subsection{Scope}

The vulnerabilities discovered by the security researcher were found at the following target:

\begin{longtable}{ r l }
  \toprule
  Name of the target & ((( target.data.name ))) \\
  \bottomrule
\end{longtable}
