% ((( MANUAL_EDIT_WARNING )))
\documentclass{((( project_path.as_posix() )))/includes/sereto}
\usepackage{((( project_path.as_posix() )))/includes/pygments}
\graphicspath{{((( project_path.as_posix() )))/pictures}}
\include{((( project_path.as_posix() )))/includes/glossary}
\glsfindwidesttoplevelname

\title{
  ((*- block title -*))
    ((( c.id | tex ))) -- ((( c.name | tex )))
  ((*- endblock title -*))
}

\subtitle{
  ((*- block subtitle -*))
    Penetration test report -- ((( version | tex )))
  ((*- endblock subtitle -*))
}

\author{
  ((*- block author -*))
    ((( c.filter_people("author") | join(", ", attribute="name") | tex )))
  ((*- endblock author -*))
}

\date{
  ((*- block date -*))
    ((( c.report_sent_date | tex )))
  ((*- endblock date -*))
}

\versioninfo{
  \begin{longtable}{ l l l r }
    \toprule
    & Description & Author & Date \\
    \midrule
    \endhead
    ((* block version -*))
      ((* for v in config.versions if v <= version -*))
        ((* with c = config.at_version(v) -*))
          ((( v | tex ))) &%
          ((( c.version_description | tex ))) &%
          ((( c.filter_people("author") | join(", ", attribute="name") | tex ))) &%
          ((( c.report_sent_date | tex ))) \\
          ((* if c.filter_people("reviewer") | length -*))
            &%
            Review &%
            ((( c.filter_people("reviewer") | join(", ", attribute="name") | tex ))) &%
            ((( c.filter_dates(type="review", last_date=True) | tex ))) \\
          ((*- endif *))
        ((*- endwith *))
      ((* endfor *))
    ((*- endblock version *))
    \bottomrule
  \end{longtable}
}

\begin{document}
  ((= \maketitle =))
  \makefront

  ((* block content required *))((* endblock *))

  \clearpage
  \appendix

  ((* block appendix *))((* endblock *))

  ((* if c.people | length *))
    \chapter{Contact information}

      ((*- for bu, people_in_bu in c.filter_people(type=["author", "requestor", "technical_contact"], business_unit='.*') | groupby("business_unit") *))
        \section{((( bu | tex )))}
        ((*- for person in people_in_bu *))
          \begin{description}
            \setlength\itemsep{0em}
            \item[Name] ((( person.name | tex ))), \textit{((( person.role | tex )))}
            \item[E-mail] \href{mailto:((( person.email )))}{((( person.email | tex )))}\\
          \end{description}
        ((* endfor -*))
      ((* endfor -*))
  ((* endif *))

  \printnoidxglossaries

\end{document}
