((* extends "_base.tex.j2" *))


((* block subtitle *))
  Partial penetration test report -- ((( report_version | tex )))
((* endblock subtitle *))


((* block content *))
  \setcounter{chapter}{((( target_index )))}
  \chapter{((( target.name )))}
  \setcounter{section}{1}
  \section{Findings}
  \setcounter{subsection}{((( finding_group_index )))}
  ((* include target.uname + "_" + finding_group.uname + version.path_suffix + ".tex.j2" *))
((* endblock content *))
