((* extends "_base.tex.j2" *))


((* block content *))

  \setcounter{secnumdepth}{-1}
  \chapter{Management summary}

  The ((( c.filter_people(type="requestor") | join(", ", "name") | tex ))) engaged the ((( c.filter_people(type="author") | join(", ", "name") | tex ))) to perform a penetration test \enquote{((( c.name | tex )))} (reference number ((( c.id | tex )))) as:

  ((* if c.targets | length *))
    \begin{itemize}
    ((* for t in c.targets *))
      \item ((( t.data.category | upper | tex ))) test of the \hyperref[((( t.uname )))]{((( t.data.name | tex )))} target
      ((* if t.data.id -*))
        ( (((- t.data.id | tex -))) )
      ((*- endif *))
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The target of the engagement has not been specified.
  ((* endif *))

  ((* if c.filter_dates(type="pentest_ongoing") | length *))
    The Penetration Testing team performed the engagement in the following timeframe:

    \begin{itemize}
    ((* for date in c.filter_dates(type="pentest_ongoing") *))
      \item ((( date | tex )))
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The engagement timeframe has not been specified.
  ((* endif *))

  \setcounter{secnumdepth}{\tocdepth}

  ((*- for target in c.targets *))
    ((* include target.uname + ".tex.j2" *))
  ((* endfor -*))

((* endblock content *))
