((* extends "_base.tex.j2" *))


((*- block subtitle -*))
  Statement of Work -- ((( version | tex )))
((*- endblock subtitle -*))


((*- block date -*))
  ((( c.filter_dates("sow_sent", last_date=True) | tex )))
((*- endblock date -*))


((* block version -*))
  % Version & Description & Author & Date \\
  ((* for v in config.versions -*))
    ((* with c = config.at_version(v) -*))
      ((( v | tex ))) &%
      ((( c.version_description | tex ))) &%
      ((( c.filter_people("author") | join(", ", attribute="name") | tex ))) &%
      ((( c.filter_dates("sow_sent", last_date=True) | tex ))) \\
    ((*- endwith *))
  ((*- endfor *))
((*- endblock version *))


((* block content *))

  \setcounter{secnumdepth}{-1}
  \chapter{Management summary}

  The ((( c.filter_people(type="requestor") | join(", ", "name") | tex ))) are engaging the ((( c.filter_people(type="author") | join(", ", "name") | tex ))) to perform a penetration test \enquote{((( c.name | tex )))} (reference number ((( c.id | tex )))) as:

  ((* if c.targets | length *))
    \begin{itemize}
    ((* for t in c.targets *))
      \item ((( t.data.category | upper | tex ))) test of the \hyperref[((( t.uname )))]{((( t.data.name | tex )))} target
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The target of the engagement has not been specified.
  ((* endif *))

  ((* if c.filter_dates(type="pentest_ongoing") | length *))
    The Penetration Testing team will perform the engagement in the following timeframe:

    \begin{itemize}
    ((* for date in c.filter_dates(type="pentest_ongoing") *))
      \item ((( date | tex )))
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The engagement timeframe has not been specified.
  ((* endif *))

  The following prerequisites are essential for the successful completion of the penetration test.
  For more details see the \autoref{prerequisites}.

  \begin{itemize}
    \item[$\square$]
      \hyperref[prerequisites:access]{Unrestricted access}
    \item[$\square$]
      \hyperref[prerequisites:doc]{Full documentation}
    \item[$\square$]
      \hyperref[prerequisites:env]{Staging environment}
    \item[$\square$]
      \hyperref[prerequisites:code]{Code freeze}
  \end{itemize}

  \setcounter{secnumdepth}{\tocdepth}

  ((*- for target in c.targets *))
    \chapter{((( target.data.name | tex )))}
    \label{((( target.uname )))}

    \section{Assigment}

    This section describes the details of the assignment for the ((( target.data.name | tex ))) target.

    ((* include target.uname + "/scope.tex.j2" *))

    ((* include target.uname + "/approach.tex.j2" *))

  ((* endfor -*))
((* endblock content *))

((* block appendix *))
  \chapter{Prerequisites}
  \label{prerequisites}

  The prerequisites mentioned in this chapter are required for the successful completion of the penetration test.

  \section{Access}
  \label{prerequisites:access}

  ((( lipsum(1, False) )))

  \section{Documentation}
  \label{prerequisites:doc}

  ((( lipsum(1, False) )))

  \section{Environment}
  \label{prerequisites:env}

  ((( lipsum(1, False) )))

  \section{Code Freeze}
  \label{prerequisites:code}

  ((( lipsum(1, False) )))

((* endblock appendix *))
