((* extends "_base.tex.j2" *))


((*- block subtitle -*))
  Statement of Work -- ((( version | tex )))
((*- endblock subtitle -*))


((*- block date -*))
  ((( c.filter_dates("sow_sent") | last | default("n/a") | tex )))
((*- endblock date -*))


((* block version -*))
  % Version & Description & Author & Date \\
  ((* for v in config.versions() -*))
    ((* with c = config.at_version(v) -*))
      ((( v ))) &%
      ((( c.version_description ))) &%
      ((( c.filter_people("author") | join(", ", attribute="name") | tex ))) &%
      ((( c.filter_dates("sow_sent") | last | default("n/a") | tex ))) \\
    ((*- endwith *))
  ((*- endfor *))
((*- endblock version *))


((* block content *))

  \chapter{Management summary}

  The ((( c.filter_people(type="requestor") | join(", ", "name") | tex ))) are engaging the ((( c.filter_people(type="author") | join(", ", "name") | tex ))) to perform a penetration test \enquote{((( name | tex )))} (reference number ((( id | tex )))) as:

  ((* if targets | length *))
    \begin{itemize}
    ((* for target in targets *))
      \item ((( target.category | upper | tex ))) test of the \hyperref[((( target.uname )))]{((( target.name | tex )))} target
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The target of the engagement has not been specified.
  ((* endif *))

  ((* if c.filter_dates(type="pentest_ongoing") | length *))
    The Penetration Testing team will perform the engagement in the following timeframe:

    \begin{itemize}
    ((* for date in c.filter_dates(type="pentest_ongoing") *))
      \item ((( date )))
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The engagement timeframe has not been specified.
  ((* endif *))

  ((*- for target in targets *))
    \chapter{((( target.name )))}
    \label{((( target.uname )))}

    \section{Assigment}

    This section describes the details of the assignment for the ((( target.name ))) target.

    ((* include target.uname + "/scope" + version.path_suffix + ".tex.j2" *))

    ((* include target.uname + "/approach" + version.path_suffix + ".tex.j2" *))

  ((* endfor -*))

  \chapter{Prerequisites}

  The prerequisites mentioned in this chapter are required for the successful completion of the penetration test.

  \section{Access}

  ((( lipsum(1, False) )))

  \section{Documentation}

  ((( lipsum(1, False) )))

  \section{Environment}

  ((( lipsum(1, False) )))

  \section{Code Freeze}

  ((( lipsum(1, False) )))

((* endblock content *))
