((* extends "_base.tex.j2" *))


((* block subtitle *))
  Partial penetration test report -- ((( report_version | tex )))
((* endblock subtitle *))


((* block content *))
  \setcounter{chapter}{((( target_index )))}
  ((* include target.uname + version.path_suffix + ".tex.j2" *))
((* endblock content *))
