\subsection{Scope}

((* if target.data.api or target.data.clickpath -*))
  The scope of the penetration test was described in:
  \begin{itemize}
    ((* if target.data.clickpath -*))
      \item \emph{((( target.data.clickpath | tex )))} document
    ((*- endif *))
    ((* if target.data.api -*))
      \item \emph{((( target.data.api | tex )))} \ac{api} collection
    ((*- endif *))
  \end{itemize}
((* else -*))
  The scope of the penetration test was limited to the scope given below.
((*- endif *))

\begin{longtable}{ r l }
  \toprule
  Name of the target & ((( target.data.name ))) \\
  ((* if target.data.id -*))
    Target ID & ((( target.data.id | tex ))) \\
  ((*- endif *))
  ((* if target.data.dst_ips_dynamic -*))
    Target \acp{ip} & Dynamic ( (((- target.data.dst_ips_dynamic_details -))) ) \\
  ((* else -*))
    ((* if target.filter_locators("ip") | length -*))
      Target \acp{ip}
      ((* for ip in target.filter_locators("ip") *))
        & \nolinkurl{((( ip.value | tex )))} \\
      ((* endfor *))
    ((*- endif *))
  ((*- endif *))
  Environment & ((( target.data.environment | capitalize ))) \\
  ((* if target.data.src_ips | length -*))
    Pentester's \acp{ip}
    ((* for ip in target.data.src_ips *))
      & \nolinkurl{((( ip | tex )))} \\
    ((* endfor *))
  ((* endif *))
  \bottomrule
\end{longtable}

((* if target.filter_locators("url") | length -*))
  The target has the following \acp{url} in scope:

  \begin{longtable}{ l }
    \toprule
    ((* for url in target.filter_locators("url") *))
      \nolinkurl{((( url.value | tex )))} \\
    ((* endfor *))
    \bottomrule
  \end{longtable}
((*- else -*))
  The target has no \acp{url} in scope.
((*- endif *))

The target has the following defenses in place:

\begin{longtable}{ r l }
  \toprule
  Target accessible from the Internet & ((( (not target.data.internal) | yesno("Yes,No") ))) \\
  Access to target protected by \ac{ip} whitelist & ((( target.data.ip_filtering | yesno("Yes,No") ))) \\
  Tester's \ac{ip} whitelisted & ((( target.data.ip_allowed | yesno("Yes,No") ))) \\
  Request input filtered by \ac{waf} & ((( target.data.waf_present | yesno("Yes,No") ))) \\
  Tester's \ac{ip} whitelisted & ((( target.data.waf_whitelisted | yesno("Yes,No") ))) \\
  Access to target protected by authentication & ((( target.data.authentication | yesno("Yes,No") ))) \\
  Credentials provided & ((( target.data.credentials_provided | yesno("Yes,No") ))) \\
  \bottomrule
\end{longtable}
