% ((( MANUAL_EDIT_WARNING )))
((* from "macros.tex.j2" import authors, reviewers *))
((* import "dates.tex.j2" as d *))

\documentclass{sereto}

\title{
  ((*- block title -*))
    ((( id | tex ))) -- ((( name | tex )))
  ((*- endblock title -*))
}

\subtitle{
  ((*- block subtitle -*))
    Penetration test report -- ((( version | tex )))
  ((*- endblock subtitle -*))
}

\author{
  ((*- block author -*))
    ((( authors(people) )))
  ((*- endblock author -*))
}

\date{
  ((*- block date -*))
    ((( d.publish_date(dates) )))
  ((*- endblock date -*))
}

\versioninfo{
  \begin{longtable}{ l l r }
    \toprule
    Version & Author & Date \\
    \midrule
    \endhead
    ((* block version -*))
      ((* for v in config.versions() -*))
        ((* with c = config.at_version(v) -*))
          Version ((( v ))) &%
          ((( c.filter_people("author") | join(", ", attribute="name") | tex ))) &%
          ((( d.publish_date(c.dates) ))) \\
          ((* if c.filter_people("reviewer") | length -*))
            Review &%
            ((( c.filter_people("reviewer") | join(", ", attribute="name") | tex ))) &%
            ((( d.review_date(c.dates) ))) \\
          ((*- endif *))
        ((*- endwith *))
      ((* endfor *))
    ((*- endblock version *))
    \bottomrule
  \end{longtable}
}

\begin{document}
  ((= \maketitle =))
  \makefront

  ((* block content required *))((* endblock *))

  \clearpage
  \appendix
  \printnoidxglossaries
\end{document}
