% ((( MANUAL_EDIT_WARNING )))
((* from "macros.tex.j2" import authors, reviewers *))
((* import "dates.tex.j2" as d *))

\documentclass{sereto}

\title{
  ((*- block title -*))
    ((( id | tex ))) -- ((( name | tex )))
  ((*- endblock title -*))
}

\subtitle{
  ((*- block subtitle -*))
    Penetration test report -- ((( report_version | tex )))
  ((*- endblock subtitle -*))
}

\author{
  ((*- block author -*))
    ((( authors(people) )))
  ((*- endblock author -*))
}

\date{
  ((*- block date -*))
    ((( d.publish_date(dates) )))
  ((*- endblock date -*))
}

\versioninfo{
  ((*- block version -*))
    \begin{longtable}{ l l r }
      \toprule
      Version & Author & Date \\
      \midrule
      \endhead
      Initial version & ((( authors(config.people) ))) & ((( d.pentest_start(config.dates) ))) \\
      Final version & ((( authors(config.people) ))) & ((( d.pentest_end(config.dates) ))) \\
      ((* if config.filter_people(type="reviewer") | length *))
        Review & ((( reviewers(config.people) ))) & ((( d.review_date(config.dates) ))) \\
      ((* endif *))
      ((* for u in config.updates *))
        ((( u.report_version | tex ))) & ((( authors(u.people) ))) & ((( d.pentest_end(u.dates) ))) \\
        ((* if u.filter_people(type="reviewer") | length *))
          Review & ((( reviewers(u.people) ))) & ((( d.review_date(u.dates) ))) \\
        ((* endif *))
      ((* endfor *))
      \bottomrule
    \end{longtable}
  ((*- endblock version -*))
}

\begin{document}
  ((= \maketitle =))
  \makefront

  ((* block content required *))((* endblock *))

  \clearpage
  \appendix
  \printnoidxglossaries
\end{document}
