% ((( MANUAL_EDIT_WARNING )))
((* from "macros.tex.j2" import authors, reviewers *))
((* import "dates.tex.j2" as d *))

\documentclass{sereto}

\title{
  ((*- block title -*))
    ((( id | tex ))) -- ((( name | tex )))
  ((*- endblock title -*))
}

\subtitle{
  ((*- block subtitle -*))
    Penetration test report -- ((( report_version | tex )))
  ((*- endblock subtitle -*))
}

\author{
  ((*- block author -*))
    ((( authors(people) )))
  ((*- endblock author -*))
}

\date{
  ((*- block date -*))
    ((( d.publish_date(dates) )))
  ((*- endblock date -*))
}

\versioninfo{
  ((*- block version -*))
    \begin{longtable}{ l l r }
      \toprule
      Version & Author & Date \\
      \midrule
      \endhead
      Initial version & ((( authors(people) ))) & ((( d.pentest_start(dates) ))) \\
      Final version & ((( authors(people) ))) & ((( d.pentest_end(dates) ))) \\
      ((* if people | selectattr("type.value", "==", "reviewer") | list | length *))
        Review & ((( reviewers(people) ))) & ((( d.review_date(dates) ))) \\
      ((* endif *))
      \bottomrule
    \end{longtable}
  ((*- endblock version -*))
}

\begin{document}
  ((= \maketitle =))
  \makefront

  ((* block content required *))((* endblock *))

  \clearpage
  \appendix
  \printnoidxglossaries
\end{document}
