((* macro publish_date(dates) -*))
  ((* if dates | selectattr("type.value", "==", "report_sent") | list | length *))
    (((- dates | selectattr("type.value", "==", "report_sent") | list | last | attr("date") -)))
  ((* elif dates | selectattr("type.value", "==", "review") | list | length *))
    (((- dates | selectattr("type.value", "==", "review") | list | last | attr("date") -)))
  ((* elif dates | selectattr("type.value", "==", "pentest_ongoing") | list | length *))
    ((* if dates | selectattr("type.value", "==", "pentest_ongoing") | list | last | attr("date") | attr("end") *))
      (((- dates | selectattr("type.value", "==", "pentest_ongoing") | list | last | attr("date") | attr("end") -)))
    ((* else *))
      (((- dates | selectattr("type.value", "==", "pentest_ongoing") | list | last | attr("date") -)))
    ((* endif *))
  ((* elif dates | selectattr("type.value", "==", "sow_sent") | list | length *))
    (((- dates | selectattr("type.value", "==", "sow_sent") | list | last | attr("date") -)))
  ((* else *))
    01-Jan-2161
  ((* endif *))
((*- endmacro *))

((* macro pentest_start(dates) -*))
  ((* if dates | selectattr("type.value", "==", "pentest_ongoing") | list | length *))
    ((* if dates | selectattr("type.value", "==", "pentest_ongoing") | list | first | attr("date") | attr("start") *))
      (((- dates | selectattr("type.value", "==", "pentest_ongoing") | list | first | attr("date") | attr("start") -)))
    ((* else *))
      (((- dates | selectattr("type.value", "==", "pentest_ongoing") | list | first | attr("date") -)))
    ((* endif *))
  ((* elif dates | selectattr("type.value", "==", "sow_sent") | list | length *))
    (((- dates | selectattr("type.value", "==", "sow_sent") | list | last | attr("date") -)))
  ((* else *))
    01-Feb-2161
  ((* endif *))
((*- endmacro *))

((* macro pentest_end(dates) -*))
  ((* if dates | selectattr("type.value", "==", "pentest_ongoing") | list | length *))
    ((* if dates | selectattr("type.value", "==", "pentest_ongoing") | list | first | attr("date") | attr("end") *))
      (((- dates | selectattr("type.value", "==", "pentest_ongoing") | list | first | attr("date") | attr("end") -)))
    ((* else *))
      (((- dates | selectattr("type.value", "==", "pentest_ongoing") | list | first | attr("date") -)))
    ((* endif *))
  ((* elif dates | selectattr("type.value", "==", "sow_sent") | list | length *))
    (((- dates | selectattr("type.value", "==", "sow_sent") | list | last | attr("date") -)))
  ((* else *))
    01-Mar-2161
  ((* endif *))
((*- endmacro *))

((* macro review_date(dates) -*))
  ((* if dates | selectattr("type.value", "==", "review") | list | length *))
    (((- dates | selectattr("type.value", "==", "review") | list | last | attr("date") -)))
  ((* else *))
    01-Apr-2161
  ((* endif *))
((*- endmacro *))
