((* extends "base_document.tex.j2" *))


((* block subtitle *))
  Partial penetration test report -- ((( report_version | tex )))
((* endblock subtitle *))


((* block content *))
  ((* include target.uname + "/findings/" + finding_group.uname + ".tex.j2" *))
((* endblock content *))
