((* macro findings_table(target, version) -*))
  \begin{longtable}{ r l l }
    \toprule
    ID & Vulnerability description & Risk \\
    \midrule
    \endhead
    ((* for finding_group in target.findings_config.finding_groups -*))
      ((( loop.index ))) & %
        ((( finding_group.name |tex ))) & %
        ((( finding_group.risks[version] | capitalize | tex ))) \\
    ((* endfor -*))
    \bottomrule
  \end{longtable}
((*- endmacro *))

((* macro authors(people) -*))
  ((( people | selectattr("type.value", "==", "author") | join(", ", "name") )))
((*- endmacro *))

((* macro reviewers(people) -*))
  ((( people | selectattr("type.value", "==", "reviewer") | join(", ", "name") )))
((*- endmacro *))
