((* extends "base_document.tex.j2" *))


((* block content *))

  \chapter{Management summary}

  The ((( c.filter_people(type="requestor") | join(", ", "name") | tex ))) engaged the ((( c.filter_people(type="author") | join(", ", "name") | tex ))) to perform a penetration test \enquote{((( name | tex )))} (reference number ((( id | tex )))) as:

  ((* if targets | length *))
    \begin{itemize}
    ((* for target in targets *))
      \item ((( target.category | upper | tex ))) test of the \hyperref[((( target.uname )))]{((( target.name | tex )))} target
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The target of the engagement has not been specified.
  ((* endif *))

  ((* if c.filter_dates(type="pentest_ongoing") | length *))
    The Penetration Testing team performed the engagement in the following timeframe:

    \begin{itemize}
    ((* for date in c.filter_dates(type="pentest_ongoing") *))
      \item ((( date )))
    ((* endfor *))
    \end{itemize}
  ((* else *))
    The engagement timeframe has not been specified.
  ((* endif *))

  ((*- for target in targets *))
    ((* include target.uname + "/target" + version.path_suffix + ".tex.j2" *))
  ((* endfor -*))

((* endblock content *))
