% ((( MANUAL_EDIT_WARNING )))

\documentclass{sereto}

\title{%
    ((( id | tex )))
    --
    ((( name | tex )))
}

\subtitle{%
    Penetration test report
    --
    ((( report_version | tex )))
}

\author{%
    ((( people | selectattr("type.value", "==", "author") | join(", ", "name") | tex )))
}

\begin{document}

    \makefront
  
    \chapter{Management summary}

    The ((( people | selectattr("type.value", "==", "requestor") | join(", ", "name") | tex ))) engaged the ((( people | selectattr("type.value", "==", "author") | join(", ", "name") | tex ))) to perform a penetration test \enquote{((( name | tex )))} (reference number ((( id | tex )))) as:

    \begin{itemize}
    ((* for target in targets *))
      \item ((( target.category | upper | tex ))) test of the \hyperref[((( target.uname )))]{((( target.name | tex )))} target
    ((* endfor *))
    \end{itemize}

    The Penetration Testing team performed the engagement in the following timeframe:

    \begin{itemize}
    ((* for date in dates | selectattr("type.value", "==", "pentest_ongoing") *))
      ((* if date.date.end *))
        \item from ((( date.date.start | tex ))) to ((( date.date.end | tex )))
      ((* else *))
        \item during ((( date.date | tex )))
      ((* endif *))
    ((* endfor *))
    \end{itemize}

  ((*- for target in targets *))
    ((* include target.uname + "/target.tex.j2" *))
  ((* endfor -*))

  \clearpage
  \appendix
  \printnoidxglossaries
\end{document}
