\subsection{Scope}

The scope of the penetration test was limited to the scope given below.

\begin{longtable}{ r l }
  \toprule
  Name of the target & ((( target.name ))) \\
  \bottomrule
\end{longtable}
