\subsection{Scenario-based penetration test}

With a scenario-based penetration test, an attack by a malicious attacker is simulated. The scope is narrowed down with a well-defined scenario.

((( lipsum(1, False) )))
