\subsection{(((finding_group.name)))}
\label{((( target.uname + "_" + finding_group.uname )))}

\begin{tcolorbox}
  \setlength{\labelsep}{\textwidth}
  \begin{description}
    \item[Technical risk]
      ((( finding_group.risk.value | capitalize )))
    \item[Recommended due date]
      \today
  \end{description}
\end{tcolorbox}
\vskip\parsep

((* for finding in finding_group.sub_findings *))
  ((* if finding_group.sub_findings | length > 1 *))
    \begin{tcolorbox}[title={((( finding.name )))\hfill ( (((-  finding.risk.value | capitalize -))) )}]
  ((* endif *))
    \input{((( project_path.as_posix() )))/.build/((( target.uname )))/((( finding.uname )))}
  ((* if finding_group.sub_findings | length > 1 *))
    \end{tcolorbox}
  ((* endif *))
((* endfor *))
